body::-webkit-scrollbar {
  display: none;
}

h1.ip-logo {
  display: flex;
  justify-content: center;
}

object#ip-inner {
  align-self: flex-start;
}

.ip-loader {
  display: flex;
  flex-direction: column;
}

#loader-svg {
  align-self: center;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 40000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 40000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 40000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
}
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'baron_neue';
  src:url('../fonts/baron_neue/Baron Neue.otf');
}
#load-status {
  color: #f21549;/*#c3c3c3;*/
  font-weight: bold;
  text-align: center;
}

.moksha-button {
  box-shadow: 0px 0px 4px 0px #333;
  border-radius: 4px;
  padding: 10px 10px;
  user-select: none;
  -webkit-user-select: none;
  transition: all 0.4s;
}

.moksha-button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 7px 0px #111111;
}

#content-canvas {
  position: relative;
}

.section-page {
  display: none;
  width: 100%;
  height: 100%;
}

.section-page input {
  width: 280px;
  margin: 5px;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #333;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.section-page button {
  width: 280px;
  margin: 5px;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #f21549;
  color: #fff;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.events-container{
  text-align:left;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  list-style:none;
  -webkit-flex-flow: row wrap;
}

.events-container > div.event-tile {
  border: 2px solid #000;
  border-color: initial;
  /*display: inline-block;*/
  text-align: center;
  margin: 15px 5px;
  padding: 15px;
  /*flex:1;*/
  width:330px;
}


.event-image-div{
  position:relative;
  width:300px;
  height:180px;
  overflow:hidden;
}

.event-image{
  min-height:100%;
  min-width:300px;

  width:100%;
  height:auto;

  position:absolute;
  top:0;
  left:0;
}

.event-type{
  background:#f4f4f4;
  border:0 !important;
}

.event-type-name{
  top:50%;
  position:relative;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 22px;
  font-family: "baron_neue"
}